
.wc-ogdt-wrapper {
    display: flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    flex-direction: column;
    padding: 50px 0;
    width: 100%;
}
.wc-ogdt-title {
    margin-bottom: 50px;
}
.wc-ogdt-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.wc-ogdt-date {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 40%;
}
.wc-ogdt-time-icon,
.wc-ogdt-date-icon {
    height: 30px;
    margin-right: 25px;
    width: 30px;
}
.wc-ogdt-container input {
    background-color: #fff !important;
    border: 1px solid #000 !important;
    font-size: 18px;
    line-height: 27px;
    padding: 20px 40px !important;
}
.wc-ogdt-date-field {
    max-width: 130px;
}
.ui-timepicker-input {
    max-width: 150px !important;
}
.wc-ogdt-time {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.wc-ogdt-time-divider {
    margin: 0 20px;
    font-size: 45px;
    text-align: center;
}
